<div>Edit your profile</div>
<form method="POST">
    {{#if error}} <div>O-ou, something went wrong. We are very sorry, please try again!</div> {{/if}}
    <p>First</p>
    <input type="text" id="age" name="age" value={{first}}>
    <p>Last</p>
    <input type="text" id="city" name="city" value={{last}}>
    <p>Email</p>
    <input type="text" id="url" name="url" value={{email}}>
     <p>Password</p>
    <input type="text" id="url" name="url" value={{password}}>
    <p>Age</p>
    <input type="text" id="age" name="age" value={{age}}>
    <p>City</p>
    <input type="text" id="city" name="city" value={{city}}>
    <p>Website</p>
    <input type="text" id="url" name="url" value={{website}}>
   
    <div><button id="button">Submit</button></div>
     

     {{!-- <input type="hidden" name="_csrf" value="{{csrfToken}}">
    {{!-- add this form field in every form i will have!!!!!! --}}
</form>